:root {
  --light: #f9f5f6;
  --blue: #769fcd;
  --dark: #393646;
}
html,
body,
#root,
.App {
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--light);
  height: 100vh;
}



/* seperator */
.separator {
  max-width: 0;
  height: 0;
  border-right: 100vw solid transparent;
  border-top: 12vw solid var(--light);
  margin-top: -12vw;
  transform: rotate(180deg);
  padding-top: 2px;
}
.top-separator {
  max-width: 0;
  height: 0;
  border-right: 100vw solid transparent;
  border-top: 12vw solid var(--blue);
  margin-top: -12vw;
  transform: rotate(180deg);
  padding-top: 3px;
}
@media only screen and (max-width: 1600px) {
  .top-separator {
    padding-top: 6px;
  }
}
@media only screen and (max-width: 1200px) {
  .top-separator {
    padding-top: 10px;
  }
}
@media only screen and (max-width: 933px) {
  .top-separator {
    padding-top: 13px;
  }
}
@media only screen and (max-width: 768px) {
  .top-separator {
    display: none;
  }
  .separator {
    display: none;
  }
}
/* seperator */

/* projects page */
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 165svh;
}
.projects-title {
  font-weight: 400;
  display: inline;
  margin: 4rem 0;
  font-size: 3rem;
}
.projects-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}
.projects-desc {
  margin: 1rem 3rem 2.25rem 0;
}
.projects-desc h2 {
  font-weight: 400;
}
.projects-desc2 h2 {
  font-weight: 400;
}
.projects-desc2 {
  font-size: 1.25rem;
  max-width: 40ch;
  margin: 0 0 2rem 3rem;
}
.projects-icons {
  max-width: 3vh;
}
.projects-video {
  max-height: 30vh;
  border-radius: 0.5rem;
}
.projects-video:hover {
  transform: rotate(0.25deg);
}
.projects-summary {
  font-size: 1.25rem;
  max-width: 40ch;
}
.live-btn {
  color: var(--blue);
}
.live-btn:hover {
  background-color: var(--blue);
}
.source-btn {
  background-color: var(--blue);
  color: var(--light);
}
.source-btn:hover {
  background-color: var(--light);
  color: var(--blue);
}
iframe {
  border: 0px;
}
@media only screen and (max-width: 1275px) {
  .projects-title {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .projects-desc h2 {
    font-size: 1.5rem;
  }
  .projects-desc2 h2 {
    font-size: 1.5rem;
  }
  .projects-title {
    font-size: 2.5rem;
  }
  .projects-container {
    min-height: 147vh;
  }
  .projects-video {
    height: 24vh;
    width: 42vw;
  }
  .projects-summary {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 933px) {
  .projects-desc h2 {
    font-size: 1rem;
  }
  .projects-desc2 h2 {
    font-size: 1rem;
  }
  .projects-container {
    min-height: 147vh;
  }
  .projects-summary {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .projects-container {
    min-height: 120vh;
  }
  .projects-video {
    height: 18vh;
  }
  .projects-summary {
    font-size: 0.8rem;
  }
  .btn {
    font-size: 0.75rem;
  }
  .projects-main {
    padding-bottom: 1.5rem;
  }
  .collaborators {
    font-size: 0.75rem;
    margin: 0.2rem 0;
  }
  .projects-icons {
    max-width: 2vh;
  }
}
@media (max-width: 768px) and (min-height: 1024px) {
  .projects-container {
    min-height: 100%;
  }
}
/* projects page */

/* about page */
.about-container {
  min-height: 70%;
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  align-items: center;
  color: var(--light);
}
.about-div {
  display: flex;
  flex-direction: row;
}
.about-content {
  margin-top: 3.5rem;
}
.about-content h2 {
  margin-top: 2.25rem;
  font-size: 1.2rem;
  width: 55ch;
}
.about-img {
  max-width: 40%;
  margin-bottom: 10rem;
}
.profile-pic {
  max-width: 100%;
  border-radius: 50%;
  margin: 0 2rem 10rem 0;
}
.about-h1 {
  font-size: 3rem;
}
@media only screen and (max-width: 1275px) {
  .about-h1 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 1000px) {
  .about-content h2 {
    font-size: 1rem;
    width: 45ch;
  }
  .about-img {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .profile-pic {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 768px) {
  .about-content {
    margin-top: 0.75rem;
  }
  .about-content h2 {
    font-size: 0.9rem;
    width: 45ch;
  }
  .profile-pic {
    margin-top: 1rem;
  }
  .about-container h1 {
    margin-top: 2rem;
  }
  .about-container {
    min-height: 60%;
  }
}
@media (max-width: 768px) and (min-height: 1024px) {
  .about-container {
    min-height: 50%;
  }
  .about-container h1 {
    margin-top: 2rem;
  }
}
/* about page */

/* contact */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 65%;
}
.contact-header {
  font-size: 3rem;
  color: var(--black);
  font-weight: 400;
}
.form-input {
  min-width: 100%;
  padding: 0.3rem 0;
  font-size: 1rem;
  margin: 0.63rem 0;
  border: none;
  border-bottom: 2px solid var(--dark);
  outline: none;
  background: var(--light);
}
.message-div {
  margin-top: 1rem;
  min-width: 100%;
}
#message-input {
  min-width: 100%;
  padding: 0.25rem 0.3rem;
  font-size: 1rem;
  margin: 0.63rem 0;
  border: 2px solid var(--dark);
  background: var(--light);
  border-radius: 0.5rem;
}
.send-btn {
  margin-top: 1.5rem;
  background-color: var(--blue);
}
.send-btn:hover {
  background-color: var(--dark);
}
.form-content {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-p {
  margin-bottom: 3rem;
}
@media only screen and (max-width: 1275px) {
  .contact-header {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .main-form {
    max-width: 75%;
  }
  .contact-header {
    margin-top: 1rem;
  }
  .contact-p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 768px) and (min-height: 1024px) {
  .contact-container {
    min-height: 50%;
  }
}
/* contact */

/* footer */
.footer {
  background-color: var(--dark);
  min-height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4.5rem;
}
.footer-ul li {
  margin-right: 1.75rem;
}
.footer-ul i {
  font-size: 4rem;
  color: var(--light);
}
.footer-ul i:hover {
  color: var(--blue);
}
.to-top {
  margin-top: 2rem;
  text-decoration: none;
  color: var(--light);
  min-height: 1rem;
}
.to-top:hover {
  color: var(--blue);
}
ul {
  list-style: none;
}
@media only screen and (max-width: 1270px) {
  .footer-ul i {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 1000px) {
  .footer-ul i {
    font-size: 2rem;
  }
}
/* footer */

/* fade in animation */
/* .hidden {
  opacity: 0;
  filter: blur(1px);
  transform: translateX(8%);
  transition: all 1s;
}
.hidden2 {
  opacity: 0;
  filter: blur(1px);
  transform: translateX(8%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
  .hidden2 {
    transition: none;
  }
} */
/* fade in animation */
