/* projects page */
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 180svh;
}
.projects-header {
  font-weight: 400;
  display: inline;
  margin: 4rem 0;
  font-size: 3rem;
}
.projects-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}
.projects-desc {
  margin: 1rem 3rem 2.25rem 0;
}
.projects-desc h2 {
  font-weight: 400;
}
.projects-icons {
  margin-right: 0.3rem;
  max-width: 3vh;
}
.projects-icons-div {
  margin-bottom: 0.5rem;
}
.projects-vid iframe {
  border-radius: 0.5rem;
}
.projects-vid:hover {
  transform: rotate(0.25deg);
}
.projects-summary {
  font-size: 1.25rem;
  max-width: 40ch;
}
.live-btn {
  background-color: var(--light);
  color: var(--blue);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: background-color 0.3s ease;
  border-right: none;
}
.source-btn {
  background-color: var(--blue);
  color: var(--light);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: background-color 0.3s ease;
  border-left: 1px solid #ffffff;
}

.live-btn:hover {
  background-color: var(--blue);
  color: var(--light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.source-btn:hover {
  background-color: var(--light);
  color: var(--blue);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-left: 1px solid var(--blue);
}

.source-btn-2 {
  background-color: var(--blue);
  color: var(--light);
  transition: background-color 0.3s ease;
}

.source-btn-2:hover {
  background-color: var(--light);
  color: var(--blue);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-link {
  display: inline;
  text-decoration: none;
}
@media only screen and (max-height: 900px) {
  .projects-container {
    min-height: 185vh;
  }
}
@media only screen and (max-height: 800px) {
  .projects-container {
    min-height: 205vh;
  }
}
@media only screen and (max-height: 600px) {
  .projects-container {
    min-height: 270vh;
  }
}
@media only screen and (max-width: 1275px) {
  .projects-header {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .projects-desc h2 {
    font-size: 1.5rem;
  }
  .projects-header {
    font-size: 2.5rem;
  }
  .projects-container {
    min-height: 147vh;
  }
  .projects-summary {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1000px) {
  .projects-vid iframe {
    max-height: 35vh;
    max-width: 56vh;
  }
  .projects-summary {
    font-size: 1rem;
  }
  .projects-container {
    min-height: 150vh;
  }
}
@media only screen and (max-width: 933px) {
  .projects-vid iframe {
    max-height: 25vh;
    max-width: 40vh;
  }
  .projects-desc h2 {
    font-size: 1rem;
  }
  .projects-container {
    min-height: 145vh;
  }
}
@media (max-width: 912px) and (min-height: 1368px) {
  .projects-container {
    min-height: 105vh;
  }
  .projects-vid iframe {
    max-height: 20vh;
    max-width: 32vh;
  }
  .projects-summary {
    width: 35ch;
  }
}
@media (max-width: 820px) and (min-height: 1180px) {
  .projects-container {
    min-height: 115vh;
  }
  .projects-vid iframe {
    max-height: 20vh;
    max-width: 32vh;
  }
  .projects-summary {
    width: 35ch;
  }
}
@media only screen and (max-width: 768px) {
  .projects-vid iframe {
    max-height: 23vh;
    max-width: 37vh;
  }
  .projects-container {
    min-height: 120vh;
  }
  .projects-summary {
    font-size: 0.8rem;
    max-width: 35ch;
  }
  .btn {
    font-size: 0.75rem;
  }
  .projects-main {
    padding-bottom: 1.5rem;
  }
  .projects-icons {
    max-width: 2vh;
  }
}
@media (max-width: 768px) and (min-height: 1024px) {
  .projects-container {
    min-height: 100%;
  }
}
@media only screen and (max-width: 620px) {
  .projects-header {
    margin-top: 2rem;
  }
  .projects-desc h2 {
    font-size: 1.25rem;
  }
  .projects-main {
    display: block;
  }
  .projects-summary {
    font-size: 1rem;
    max-width: 50ch;
    margin: 0.5rem 0;
  }
  .projects-vid iframe {
    max-height: 38vh;
    max-width: 61vh;
  }
  .projects-desc {
    margin: 1rem 0;
  }
  .projects-icons {
    max-width: 3vh;
  }
  .projects-container {
    min-height: 225vh;
  }
}
@media only screen and (max-width: 540px) and (min-height: 720px) {
  .projects-summary {
    font-size: 1rem;
    max-width: 44ch;
    margin: 0.5rem 0;
  }
  .projects-container {
    min-height: 245vh;
  }
}
@media only screen and (max-width: 520px) {
  .projects-summary {
    max-width: 40ch;
  }
  .projects-vid iframe {
    max-height: 30vh;
    max-width: 48vh;
  }
  .projects-icons {
    max-width: 2.5vh;
  }
  .projects-container {
    min-height: 210vh;
  }
}
@media only screen and (max-width: 414px) {
  .projects-summary {
    max-width: 40ch;
    font-size: 0.8rem;
  }
  .projects-vid iframe {
    max-height: 25vh;
    max-width: 40vh;
  }
  .projects-icons {
    max-width: 2vh;
  }
  .projects-container {
    min-height: 185vh;
  }
  .btn {
    font-size: 0.6rem;
  }
}
@media only screen and (max-width: 280px) and (min-height: 653px) {
  .projects-summary {
    font-size: 0.75rem;
    max-width: 34ch;
  }
  .projects-container {
    min-height: 208vh;
  }
  .projects-vid iframe {
    max-height: 22vh;
    max-width: 35.2vh;
  }
}

/* projects page */
