:root {
  --light: #f9f5f6;
  --blue: #769fcd;
  --dark: #393646;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--light);
  height: 100vh;
}

/* homepage */
.nav-link {
  color: var(--blue);
  font-size: 1.75rem;
}
.nav-home {
  color: var(--blue);
  font-size: 1.75rem;
}
.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  height: 100%;
}
.content-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 27% 0 0 3rem;
}
.content-div h1 {
  font-weight: 300;
  font-size: 3.75rem;
}
.h1-span {
  font-weight: 400;
  color: var(--blue);
}
.icon-div {
  display: flex;
  flex-direction: row;
  align-items: start;
}
.icons {
  margin-right: 0.75rem;
  font-size: 2rem;
  color: var(--blue);
}
/* homepage */

.skills-container {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  align-items: center;
}
.skills-container h1 {
  font-weight: 400;
  display: inline;
  margin-top: 5rem;
  font-size: 3.5rem;
}
.skills-div {
  max-width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
}
.separator {
  width: 0;
  height: 0;
  border-right: 100vw solid transparent;
  border-top: 12vw solid var(--light);
  margin-top: -12vw;
  transform: rotate(180deg);
}

.art-container {
  margin-top: 3rem;
}
.art {
  height: 300px;
  width: 230px;
  background-color: var(--light);
  margin: 3rem 15rem 0 0;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  box-shadow: 25px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}
.art:hover {
  background-color: #7d865e;
}
.yolk:hover {
  background-color: #a65f2f;
}
.yolk {
  content: "";
  position: absolute;
  height: 8.5rem;
  width: 8.2rem;
  border-radius: 50%;
  background-color: #feca01;
  top: 117px;
  right: 48px;
}
.skills-display {
  margin: 3rem 0 0 12rem;
  display: block;
}
.skills-icons {
  visibility: hidden;
  font-size: 5rem;
}

.navbar-fixed-top {
  position: sticky;
  top: 0;
  height: 60px;
}

.nav-link--scrolled {
  /* change background-color to whatever you want */
  color: var(--dark);
}
