:root {
  --light: #f9f5f6;
  --blue: #769fcd;
  --dark: #393646;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--light);
  height: 100svh;
}

/* homepage */
.nav-link {
  color: var(--blue);
  font-size: 2rem;
}
.nav-home {
  color: var(--blue);
  font-size: 2rem;
}
.nav-link--scrolled {
  color: var(--dark);
}
.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  min-height: 100%;
}
.content-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 27% 0 0 3rem;
}
.content-div h1 {
  font-weight: 300;
  font-size: 3.75rem;
}
.h1-span {
  font-weight: 400;
  color: var(--blue);
}
.icon-div {
  display: flex;
  flex-direction: row;
  align-items: start;
}
.icons {
  margin-right: 0.75rem;
  font-size: 2rem;
  color: var(--blue);
}
/* homepage */

/* skills page */
.skills-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  align-items: center;
  color: var(--light);
}
.skills-header {
  font-weight: 400;
  display: inline;
  margin-top: 5rem;
  font-size: 3.5rem;
}
.skills-div {
  max-width: 80%;
  max-height: 80%;
  display: flex;
  flex-direction: row;
  margin-top: 0.75rem;
}
.art-container {
  margin-top: 3rem;
  padding-right: 5rem;
  display: inline-block;
}
.art {
  height: 300px;
  width: 230px;
  background-color: var(--light);
  margin-top: 3rem;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  box-shadow: 25px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}
.art:hover {
  background-color: #7d865e;
}
.yolk:hover {
  background-color: #a65f2f;
}
.yolk {
  content: "";
  position: absolute;
  height: 8.5rem;
  width: 8.2rem;
  border-radius: 50%;
  border-style: solid;
  border-color: #9db2bf;
  background-color: var(--light);
  top: 117px;
  right: 48px;
}
.skills-display {
  margin-top: 3rem;
  display: inline-block;
  padding-left: 5rem;
}
.skills-icons img {
  max-width: 5rem;
  margin: 6.5rem 2.5rem 0 0;
}
.skills-icons {
  align-items: center;
  display: none;
}
.skills-title-div {
  text-align: center;
}
.skills-title {
  font-size: 2rem;
}
.navbar-fixed-top {
  position: sticky;
  top: 0;
  height: 60px;
}
.initial-icons {
  align-items: center;
}
.initial-icons img {
  max-width: 5rem;
  margin: 6.5rem 2.5rem 0 0;
}
.initial-content h2 {
  margin: auto;
}
.art-title {
  text-align: center;
  font-size: 2rem;
}
/* skills page */

/* seperator */
.separator {
  max-width: 0;
  height: 0;
  border-right: 100vw solid transparent;
  border-top: 12vw solid var(--light);
  margin-top: -12vw;
  transform: rotate(180deg);
  padding-top: 2px;
}
.top-separator {
  max-width: 0;
  height: 0;
  padding-top: 0.68rem;
  border-right: 100vw solid transparent;
  border-top: 12vw solid var(--blue);
  margin-top: -12vw;
  transform: rotate(180deg);
}
/* seperator */

/* projects page */
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 160vh;
}
.projects-title {
  font-weight: 400;
  display: inline;
  margin: 5rem 0;
  font-size: 3.5rem;
}
.projects-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}
.projects-desc {
  margin: 1rem 3rem 2.25rem 0;
}
.projects-desc h2 {
  font-weight: 400;
}
.projects-desc2 h2 {
  font-weight: 400;
}
.projects-desc2 {
  font-size: 1.25rem;
  max-width: 40ch;
  margin: 0 0 2rem 3rem;
}
.projects-icons {
  max-width: 3vh;
}
.project-video {
  max-height: 30vh;
}
.projects-summary {
  font-size: 1.25rem;
  max-width: 40ch;
}
/* projects page */

/* about page */
.about-container {
  min-height: 70%;
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  align-items: center;
  color: var(--light);
}
.about-div {
  display: flex;
  flex-direction: row;
}
.about-content {
  margin-top: 3.5rem;
}
.about-content h2 {
  margin-top: 2.25rem;
  font-size: 1.2rem;
  width: 55ch;
}
.about-img {
  max-width: 40%;
  margin-bottom: 10rem;
}
.profile-pic {
  max-width: 100%;
  border-radius: 50%;
  margin: 0 2rem 10rem 0;
}

/* about page */

/* contact */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 65%;
}
.contact-header {
  font-size: 1.9rem;
  color: var(--black);
  font-weight: 400;
}
.form-input {
  min-width: 100%;
  padding: 0.3rem 0;
  font-size: 1rem;
  margin: 0.63rem 0;
  border: none;
  border-bottom: 2px solid var(--dark);
  outline: none;
  background: var(--light);
}
.message-div {
  margin-top: 1rem;
  min-width: 100%;
}
#message-input {
  min-width: 100%;
  padding: 0.3rem 0;
  font-size: 1rem;
  margin: 0.63rem 0;
  border: 2px solid var(--dark);
  background: var(--light);
  border-radius: 0.5rem;
}
.icon-label {
  text-decoration: none;
  color: var(--dark);
}
.contact-icons {
  padding-left: 2rem;
}
.send-btn {
  margin-top: 1.5rem;
  background-color: var(--blue);
}
.send-btn:hover {
  background-color: var(--dark);
}
/* contact */

/* footer */
.footer {
  background-color: var(--dark);
  min-height: 25%;
}
/* footer */

/* fade in animation */
.hidden {
  opacity: 0;
  filter: blur(1px);
  transform: translateX(8%);
  transition: all 1s;
}
.home-hidden {
  opacity: 0;
  filter: blur(1px);
  transform: translateX(8%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
/* fade in animation */
