/* homepage */
.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  max-width: 80%;
}
.content-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 26rem 0 0 3rem;
}
.content-div h1 {
  font-weight: 300;
  font-size: 3.75rem;
}
.h1-span {
  font-weight: 400;
  color: var(--blue);
}
.icon-div {
  display: flex;
  flex-direction: row;
  align-items: start;
}
.icons {
  margin-right: 0.75rem;
  font-size: 2rem;
  color: var(--blue);
}
@media only screen and (max-width: 1500px) {
  .content-div {
    margin-top: 28rem;
  }
}
@media only screen and (max-width: 1200px) {
  .content-div {
    margin-top: 31rem;
  }
  .content-div h1 {
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 933px) {
  .content-div {
    margin-top: 25rem;
  }
  .content-div h1 {
    font-size: 2.25rem;
  }
}
@media only screen and (max-width: 768px) {
  .homepage-container {
    min-height: 100%;
  }
}

@media (max-width: 768px) and (min-height: 1024px) {
  .homepage-container {
    min-height: 100%;
  }
}
@media only screen and (max-width: 682px) {
  .content-div {
    margin-top: 31rem;
  }
  .content-div h1 {
    font-size: 2.25rem;
  }
}
/* homepage */
