/* contact */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 65%;
}
.contact-header {
  font-size: 3rem;
  color: var(--black);
  font-weight: 400;
}
.form-input {
  min-width: 100%;
  padding: 0.3rem 0;
  font-size: 1rem;
  margin: 0.63rem 0;
  border: none;
  border-bottom: 2px solid var(--dark);
  outline: none;
  background: var(--light);
}
.message-div {
  margin-top: 1rem;
  min-width: 100%;
}
#message-input {
  min-width: 100%;
  padding: 0.25rem 0.3rem;
  font-size: 1rem;
  margin: 0.63rem 0;
  border: 2px solid var(--dark);
  background: var(--light);
  border-radius: 0.5rem;
}
.send-btn {
  margin-top: 1.5rem;
  background-color: var(--blue);
}
.send-btn:hover {
  background-color: var(--dark);
}
.form-content {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-p {
  margin-bottom: 3rem;
}
@media only screen and (max-width: 1275px) {
  .contact-header {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .main-form {
    max-width: 75%;
  }
  .contact-header {
    margin-top: 1rem;
  }
  .contact-p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 768px) and (min-height: 1024px) {
  .contact-container {
    min-height: 50%;
  }
}
@media (max-width: 520px) {
  .contact-p {
    font-size: 1rem;
  }
  .text-end {
    text-align: center !important;
  }
}
/* contact */
