/* skills page */
.skills-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  align-items: center;
  color: var(--light);
}
.skills-header {
  font-weight: 400;
  display: inline;
  margin-top: 5rem;
  font-size: 3rem;
}
.skills-div {
  max-width: 80%;
  max-height: 80%;
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}
.art-container {
  margin-top: 3rem;
  padding-right: 5rem;
  display: inline-block;
}
.art {
  height: 18.75rem;
  width: 14.3rem;
  background-color: var(--light);
  margin-top: 3rem;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  box-shadow: 25px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}
.art-title {
  text-align: center;
  font-size: 2rem;
}
.art:hover {
  background-color: #7d865e;
}
.yolk:hover {
  background-color: #a65f2f;
}
.yolk {
  content: "";
  position: absolute;
  height: 8.5rem;
  width: 8.2rem;
  border-radius: 50%;
  border-style: solid;
  border-color: #9db2bf;
  background-color: var(--light);
  top: 117px;
  right: 48px;
}
.skills-display {
  margin-top: 3rem;
  padding-left: 5rem;
  min-width: 42vw;
}
.skills-icons img {
  max-width: 5rem;
  display: block;
  margin-bottom: 1rem;
  max-width: 5rem;
  max-height: 5rem;
}
.skills-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6.5rem;
  display: none;
}
.skills-icons div {
  display: inline;
  text-align: center;
  padding-right: 3rem;
}
.skills-title-div {
  text-align: center;
}
.skills-title {
  font-size: 2rem;
}
.navbar-fixed-top {
  position: sticky;
  top: 0;
  height: 60px;
}
/* skills initial icons */
.initial-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6.5rem;
}
.initial-icons img {
  max-width: 5rem;
  max-height: 5rem;
  display: block;
  margin-bottom: 1rem;
}
.initial-content h2 {
  margin: auto;
}
.initial-icons div {
  display: inline;
  text-align: center;
  padding-right: 3rem;
}
.icon-title {
  display: inline;
  font-size: 1.25rem;
}
/* skills initial icons */
@media only screen and (max-width: 1275px) {
  .skills-icons img {
    max-width: 4rem;
    margin: 3rem 0.75rem 0.75rem 0.75rem;
  }
  .initial-icons img {
    max-width: 4rem;
    margin: 3rem 0.75rem 0.75rem 0.75rem;
  }
  .initial-icons {
    margin-top: 2.5rem;
  }
  .skills-icons {
    margin-top: 2.5rem;
  }
  .skills-header {
    font-size: 2.5rem;
  }
  .skills-display {
    max-width: 55vw;
  }
}
@media only screen and (max-width: 995px) {
  .skills-icons img {
    max-width: 2.75rem;
    margin: 2rem 0.5rem 0.5rem 0.5rem;
  }
  .initial-icons img {
    max-width: 2.75rem;
    margin: 2rem 0.5rem 0.5rem 0.5rem;
  }
}
@media only screen and (max-width: 826px) {
  .skills-icons img {
    max-width: 2rem;
    margin: 2rem 0.25rem 0.25rem 0.25rem;
  }
  .initial-icons img {
    max-width: 2rem;
    margin: 2rem 0.25rem 0.25rem 0.25rem;
  }
}
@media only screen and (max-width: 768px) {
  .art-container {
    margin-top: 1.25rem;
    padding-right: 3rem;
  }
  .skills-display {
    margin-top: 1.25rem;
    padding-left: 3rem;
  }
  .skills-icons img {
    max-width: 2.25rem;
    margin: 2rem 1.5rem 0 1.5rem;
  }
  .initial-icons img {
    max-width: 2.25rem;
    margin: 2rem 1.5rem 0 1.5rem;
  }
  .initial-icons div {
    padding-right: 0;
  }
  .skills-container {
    min-height: 100%;
  }
  .skills-div {
    margin-top: 4rem;
  }
}
@media (max-width: 768px) and (min-height: 1024px) {
  .skills-container {
    min-height: 75%;
  }
}
@media only screen and (max-width: 682px) {
  .skills-icons img {
    max-width: 2.3rem;
    margin: 3rem 1rem 0 0;
  }
  .initial-icons img {
    max-width: 2.3rem;
    margin: 3rem 1rem 0 0;
  }
  .skills-div {
    margin-top: 3rem;
  }
}
/* skills page */
